.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
@keyframes badge {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: 0px auto;
}
/* header-section-starts-from-here */
.header-section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  margin-bottom: 120px;
}
.nav-menu {
  display: flex;
  gap: 48px;
}
.nav-menu li {
  list-style: none;
}
.nav-menu li a {
  text-decoration: none;
  color: inherit;
}
.nav-menu li {
  color: rgba(137, 135, 161, 1);
  font-family: inter;
  font-size: 1rem;
  font-weight: 400;
}
.nav-menu li:nth-child(1),
.nav-menu li:nth-child(4) {
  font-family: inter;
  color: rgba(37, 36, 50, 1);
  font-size: 1rem;
  font-weight: 700;
}
/* header-section-ends-here */
/* hero-section-starts-from-here */
.hero-section {
  display: flex;
  align-items: center;
}
.banner-content {
  width: 50%;
}
.banner {
  width: 50%;
}
.banner-heading {
  font-size: 4.0625rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}
#banner-heading-style {
  font-size: 4.0625rem;
  font-weight: 700;
  color: rgba(233, 90, 8, 1);
}
.banner-description {
  font-size: 1.327rem;
  font-weight: 400;
  width: 100%;
}
.banner-img {
  width: 100%;
}
/* hero-section-ends-here */
/* our-plants-section-start-from-here */
.our-plant {
  margin-top: 120px;
}
.our-plant-title {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 16px;
}
#plant {
  color: rgba(233, 90, 8, 1);
}
.our-plant-heading {
  text-align: center;
}
.our-plant-description {
  max-width: 888px;
  margin: 0 auto;
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 50px;
}
.flower-img {
  margin-bottom: 30px;
}
.flower-heading {
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 8px;
}
.flower-price {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.cart {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  padding: 15px 80px;
  box-sizing: border-box;
  background-color: rgba(233, 90, 8, 1);
  border: none;
}
.flower-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}
.flower-items {
  text-align: center;
  width: 100%;
}
/* our-plants-section-ends-here */
/* plant-lover-section-starts-from-here */
.plants-lover {
  display: flex;
  position: relative;
  margin-top: 210px;
  gap: 60px;
  align-items: center;
  margin-bottom: 130px;
}
.plants-lover > div {
  flex: 1;
}
.store-img-container {
  width: 100%;
}
.flower-store-img {
  width: 100%;
}
.badge-img {
  position: absolute;
  width: 20%;
  left: 34%;
  top: -17%;
  animation: badge 4s linear 0s infinite;
}
.store-description {
  padding-left: 35px;
}
.store-description li {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.store-heading {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 1);
}
.br {
  display: block;
}
.store-description li {
  margin-bottom: 20px;
}
/* plant-lover-section-ends-here */

/* responsive-mobile-device */

@media screen and (max-width: 393px) {
  /* header-section-starts-from-here */
  .header-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 28px;
    max-width: 300px;
    margin: 0 auto;
  }
  .nav-menu li:nth-child(1),
  .nav-menu li:nth-child(2),
  .nav-menu li:nth-child(3) {
    display: none;
  }
  .logo-img {
    width: 50%;
  }
  .nav-menu li:nth-child(4) {
    font-size: 1rem;
    font-weight: 400;
  }
  /* header-section-ends-here */
  /* hero-section-starts-from-here */
  .hero-section {
    flex-direction: column-reverse;
  }
  .banner-content {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .banner-description {
    width: 100%;
  }
  .banner-img {
    width: 100%;
  }
  .banner-content {
    width: 100%;
  }
  .banner {
    width: 100%;
    margin-bottom: 28px;
    margin-top: 28px;
  }
  .banner-heading {
    font-size: 1.5rem;
    margin-bottom: 13px;
  }
  #banner-heading-style {
    font-size: 1.5rem;
  }
  .banner-description {
    font-size: 0.875rem;
  }
  /* hero-section-ends-here */
  /* our-plants-section-start-from-here */
  .flower-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 300px;
    place-items: center;
    margin: 0 auto;
  }
  .cart {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 10px 20px;
  }
  .flower-items {
    max-width: 100%;
    min-width: 0;
  }
  .flower-img {
    width: 100%;
  }
  .our-plant {
    margin-top: 64px;
  }
  .our-plant-heading {
    max-width: 300px;
    margin: 0 auto;
  }
  .our-plant-title {
    margin-bottom: 16px;
  }
  .flower-img {
    margin-bottom: 30px;
  }
  .our-plant-description {
    font-size: 0.875rem;
    margin-bottom: 28px;
  }
  .flower-heading {
    font-size: 1rem;

    margin-bottom: 10px;
  }
  .flower-price {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .cart {
    font-size: 0.9rem;
  }
  /* our-plants-section-ends-here */
  /* plant-lover-section-starts-from-here */
  .badge-img {
    display: none;
  }
  .plants-lover {
    flex-direction: column;
    margin-top: 40px;
    max-width: 300px;
  }
  .store-img-container {
    margin-bottom: 16px;
  }
  .store-heading {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  .store-description li {
    margin-bottom: 16px;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }
  .br {
    display: inline;
  }
  .store-description {
    padding-left: 20px;
  }
  /* plant-lover-section-ends-here */
}

@media screen and (min-width: 393px) and (max-width: 488px) {
  /* header-section-starts-from-here */
  .header-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 28px;
    max-width: 400px;
    margin: 0 auto;
  }
  .nav-menu li:nth-child(1),
  .nav-menu li:nth-child(2),
  .nav-menu li:nth-child(3) {
    display: none;
  }
  .logo-img {
    width: 50%;
  }
  .nav-menu li:nth-child(4) {
    font-size: 1rem;
    font-weight: 400;
  }
  /* header-section-ends-here */
  /* hero-section-starts-from-here */
  .hero-section {
    flex-direction: column-reverse;
  }
  .banner-content {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .banner-description {
    width: 100%;
  }
  .banner-img {
    width: 100%;
  }
  .banner-content {
    width: 100%;
  }
  .banner {
    width: 100%;
    margin-bottom: 28px;
    margin-top: 28px;
  }
  .banner-heading {
    font-size: 1.5rem;
    margin-bottom: 13px;
  }
  #banner-heading-style {
    font-size: 1.5rem;
  }
  .banner-description {
    font-size: 0.875rem;
  }
  /* hero-section-ends-here */
  /* our-plants-section-starts-from-here */
  .flower-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 380px;
    place-items: center;
    margin: 0 auto;
  }
  .flower-items {
    max-width: 100%;
    min-width: 0;
  }
  .flower-img {
    width: 100%;
  }
  .our-plant {
    margin-top: 64px;
  }
  .our-plant-heading {
    max-width: 400px;
    margin: 0 auto;
  }
  .our-plant-title {
    margin-bottom: 16px;
  }
  .flower-img {
    margin-bottom: 30px;
  }
  .our-plant-description {
    font-size: 0.875rem;
    margin-bottom: 28px;
  }
  .flower-heading {
    font-size: 1rem;

    margin-bottom: 10px;
  }
  .flower-price {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .cart {
    font-size: 0.9rem;
    white-space: nowrap;
    padding: 15px 40px;
  }
  /* our-plants-section-ends-here */
  /* plant-lover-section-starts-from-here */
  .badge-img {
    display: none;
  }
  .plants-lover {
    flex-direction: column;
    margin-top: 40px;
    max-width: 400px;
  }
  .store-img-container {
    margin-bottom: 16px;
  }
  .store-heading {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  .store-description li {
    margin-bottom: 16px;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }
  .br {
    display: inline;
  }
  .store-description {
    padding-left: 20px;
  }
  /* plant-lover-section-ends-here */
}

@media screen and (min-width: 488px) and (max-width: 580px) {
  /* header-section-starts-from-here */
  .header-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 28px;
    max-width: 460px;
    margin: 0 auto;
  }
  .nav-menu li:nth-child(1),
  .nav-menu li:nth-child(2),
  .nav-menu li:nth-child(3) {
    display: none;
  }
  .logo-img {
    width: 50%;
  }
  .nav-menu li:nth-child(4) {
    font-size: 1rem;
    font-weight: 400;
  }
  /* header-section-ends-here */
  /* hero-section-starts-from-here */
  .hero-section {
    flex-direction: column-reverse;
  }
  .banner-content {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
  }
  .banner-description {
    width: 100%;
  }
  .banner-img {
    width: 100%;
  }
  .banner-content {
    width: 100%;
  }
  .banner {
    width: 100%;
    margin-bottom: 28px;
    margin-top: 28px;
  }
  .banner-heading {
    font-size: 1.5rem;
    margin-bottom: 13px;
  }
  #banner-heading-style {
    font-size: 1.5rem;
  }
  .banner-description {
    font-size: 0.875rem;
  }
  /* hero-section-ends-here */
  /* our-plants-section-starts-from-here */
  .flower-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 450px;
    margin: 0 auto;
  }
  .flower-items {
    max-width: 100%;
    min-width: 0;
  }
  .flower-img {
    width: 100%;
  }
  .our-plant-heading {
    max-width: 460px;
    margin: 0 auto;
  }
  .our-plant-title {
    margin-bottom: 16px;
  }
  .flower-img {
    margin-bottom: 30px;
  }
  .our-plant-description {
    font-size: 0.875rem;
    margin-bottom: 28px;
  }
  .flower-heading {
    font-size: 1rem;

    margin-bottom: 10px;
  }
  .flower-price {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .cart {
    font-size: 0.9rem;
    white-space: nowrap;
    padding: 15px 57px;
  }
  /* our-plants-section-ends-here */
  /* plant-lover-section-starts-from-here */
  .badge-img {
    display: none;
  }
  .plants-lover {
    flex-direction: column;
    margin-top: 40px;
    max-width: 460px;
  }
  .store-img-container {
    margin-bottom: 16px;
  }
  .store-heading {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  .store-description li {
    margin-bottom: 16px;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }
  .br {
    display: inline;
  }
  .store-description {
    padding-left: 20px;
  }
  /* plant-lover-section-ends-here */
}
